@import url('https://fonts.googleapis.com/css?family=Orbitron');

$themeGreen: #080;
$highlightGreen: #0c0;
$transBG: rgba(0, 0, 0, 0.7);
$naniteSize: 250px;
$engorgedNaniteSize: $naniteSize * 1.1;
$naniteOffset: $naniteSize / 2;
$engorgedOffset: $engorgedNaniteSize / 2;
$leftWidth: 5 / 12 * 100%;
$centerWidth: 3 / 12 * 100%;
$rightWidth: 4 /12 * 100%;

* {
	box-sizing: border-box;
}

a {
	&, &:visited {
		color: $highlightGreen;
	}
}

.text-center {
	text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #000;
  color: $themeGreen;
  font-family: 'Orbitron', sans-serif;
}

// style={{height: '100vh', width: '100vw'}}
#Game {
	height: 100vh;
	width: 100vw;
	position: relative;
}

#leftPanel {
	height: 100%;
	width: $leftWidth;
	float: left;
	position: relative;
	background-size: cover;

	@media(max-width: 768px) {
		width: 100%;
	}
}

#banner {
	position: absolute;
	top: 10%;
	width: 100%;
	background-color: $transBG;
	text-align: center;
}

#bigNanite {
	position: absolute;
	width: $naniteSize;
	height: $naniteSize;
	top: calc(40% - #{$naniteOffset});
	left: calc(50% - #{$naniteOffset});
	background-color: $transBG;
	border: 1px solid $themeGreen;
	padding: 0.4em;
	cursor: pointer;

	&:hover {
		width: $engorgedNaniteSize;
		height: $engorgedNaniteSize;
		top: calc(40% - #{$engorgedOffset});
		left: calc(50% - #{$engorgedOffset});
		color: $highlightGreen;
		border-color: $highlightGreen;
	}

	&:active{
		width: $naniteSize;
		height: $naniteSize;
		top: calc(40% - #{$naniteOffset});
		left: calc(50% - #{$naniteOffset});
		color: $themeGreen;
		border-color: $themeGreen;
	}

	@media (max-width: 768px) {
		&, &:hover {
			width: $naniteSize;
			height: $naniteSize;
			top: calc(60% - #{$naniteOffset});
			left: calc(50% - #{$naniteOffset});
		}

		&:active {
			width: $engorgedNaniteSize;
			height: $engorgedNaniteSize;
			top: calc(60% - #{$engorgedOffset});
			left: calc(50% - #{$engorgedOffset});
		}
	}
}

#centerPanel {
	height: 100%;
	width: $centerWidth;
	float:left;
	padding: 1em;

	@media(max-width: 768px) {
		height: auto;
		width: 100%;
	}
}

#rightPanel {
	height: 100%;
	width: $rightWidth;
	float: left;
	padding: 1em;
	overflow-x: visible;
	overflow-y: auto;

	@media (max-width: 768px) {
		height: auto;
		width: 100%;
	}
}

#tooltip {
	width: 300px;
	position: absolute;
	right: $rightWidth;
	border: 1px solid #999;
	padding: 0.5em;
	background-color: rgba(0, 0, 0, 0.8);
	color: $highlightGreen;

	.description {
		font-size: 8px;
	}
}

#buildingContainer {
	padding-bottom: 200px;
}

.building {
	position: relative;
	border: 1px solid $themeGreen;
	padding: 1em;

	&:hover {
		color: $highlightGreen;
		border-color: $highlightGreen;
	}
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.5);
}
